

/*head*/
body {
    background-color: lightcyan
}

.login-card{
    width: 70%;
    display: flex;
    align-items: center;
    margin:0px auto;
}
.card-body{
    width:900px;
    height:fit-content;
    border:2px solid;
    margin:auto;
}
.hd {
    font-size: 25px;
    font-weight: 500;
}

.card.hover,
.card:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2)
}

.img {
    margin-bottom: 35px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222)
}

.card-title {
    font-weight: 600
}
                                    
/**/
.form-control{
   /* margin:auto !important; */          
    width: 100% !important;
}


button.focus,
button:focus {
    outline: 0;
    box-shadow: none !important
}

.ft {
    margin-top: 25px
}

.chk {
    margin-bottom: 5px
}

.rck {
    margin-top: 20px;
    padding-bottom: 15px
}
 .form-group label,.title,.text,.social-links{
    color: black;
}